.paginator {
  margin: 6em 0;
  height: 32px;
  text-align: center;
}
.paginator .prev,
.paginator .next {
  float: left;
  margin: 0 4px;
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 14px;
  color: #666;
  transition: all 0.3s;
}
.paginator .prev:hover,
.paginator .next:hover {
  color: #333;
  border-color: #999;
}
.paginator .next {
  float: right;
}
.ds-thread,
#disqus_thread {
  margin-bottom: 2em;
}
