.post {
  padding-top: 1em;
}
.post-block .post-title {
  margin: 0.65em 0;
  font-weight: normal;
  font-size: 2em;
}
.post-block .post-title .post-title-link {
  color: #2c3e50;
}
.post-block .post-info {
  margin: 1.2em 0;
  color: #7f8c8d;
}
.post-block .post-info span {
  margin-left: 0.5rem;
}
.post-block .post-info a.post-from {
  margin-left: 0.5rem;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}
.post-block .post-info a.post-from:hover {
  text-decoration: underline;
}
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  position: relative;
  margin: 1em 0;
}
.post-content h2,
.post-content h3 {
  font-size: 22px;
}
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 18px;
}
.post-content a {
  color: #0366d6;
  word-break: break-all;
}
.post-content a:hover {
  text-decoration: underline;
}
.post-content blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
}
.post-content img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}
.post-content > table,
.post-content > figure.highlight {
  box-shadow: 0 1px 2px rgba(0,0,0,0.125);
}
.post-content .tip {
  position: relative;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f8f8f8;
}
.post-content .tip br {
  display: none;
}
.post-content .tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #f66;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
#mask {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
#mask #mask-image {
  max-width: 95%;
}
code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}
.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  overflow-x: auto;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  display: none;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight .code pre .line {
  width: auto;
  height: 18px;
}
.codebase,
.highlight.#html .code:after,
.highlight.#js .code:after,
.highlight.#bash .code:after,
.highlight.#css .code:after,
.highlight.#scss .code:after,
.highlight.#diff .code:after,
.highlight.#java .code:after,
.highlight.#xml .code:after,
.highlight.#python .code:after,
.highlight.#json .code:after,
.highlight.#swift .code:after,
.highlight.#ruby .code:after,
.highlight.#perl .code:after,
.highlight.#php .code:after,
.highlight.#c .code:after,
.highlight.#cpp .code:after,
.highlight.#ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.#html .code:after {
  content: "html";
}
.highlight.#js .code:after {
  content: "js";
}
.highlight.#bash .code:after {
  content: "bash";
}
.highlight.#css .code:after {
  content: "css";
}
.highlight.#scss .code:after {
  content: "scss";
}
.highlight.#diff .code:after {
  content: "diff";
}
.highlight.#java .code:after {
  content: "java";
}
.highlight.#xml .code:after {
  content: "xml";
}
.highlight.#python .code:after {
  content: "python";
}
.highlight.#json .code:after {
  content: "json";
}
.highlight.#swift .code:after {
  content: "swift";
}
.highlight.#ruby .code:after {
  content: "ruby";
}
.highlight.#perl .code:after {
  content: "perl";
}
.highlight.#php .code:after {
  content: "php";
}
.highlight.#c .code:after {
  content: "c";
}
.highlight.#java .code:after {
  content: "java";
}
.highlight.#cpp .code:after {
  content: "cpp";
}
.highlight.#ts .code:after {
  content: "ts";
}
.highlight.cpp .code:after {
  content: 'C++';
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #005cc5;
}
pre .keyword,
pre .attribute {
  color: #d73a49;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #032f62;
}
pre .title {
  color: #83b917;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #032f62;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .deletion {
  color: #ba4545;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
